<div class="pure-menu pure-menu-open pure-menu-horizontal">
		<a href="#" class="pure-menu-heading">My Blog</a>
		<ul>
				<li class="pure-menu-selected"><a href="/posts">Edit Posts</a></li>
				<li><a href="/posts/new">New Post</a></li>
				<li><a href="/read">Switch View</a></li>
				<li><a href="#" id="logout">Logout</a></li>
		</ul>
</div>
<div class="pure-g">
		<div class="pure-u-1-24 pure-u-md-1-24"></div>
		<div class="pure-u-23-24 pure-u-md-23-24">
			<form class="pure-form" method="post">
					<input type="hidden" name="id" value="{{post.id}}">
					Title: <br> 
					<input type="text" name="title" value="{{post.title}}" placeholder="Post Title" id="title_text"> <br>
					Content: <br>
					<textarea name="content" id="content_text">{{post.content}}</textarea>
					<br>
					<button type="submit" id="submit_button" class="pure-button pure-button-primary">Submit</button>
			</form>
		</div>
</div>

<script type="text/javascript">
		$("a#logout").click(function()
		{
			$.post("/login/logout");
      $(document).ajaxComplete(function() {
          //location.reload();
          window.location.href = '/read';
      });
		});
		$(document).ready(function() {
					CKEDITOR.replace( 'content_text' );
					//CKEDITOR.instances.content_text.setData('{{post.content}}');
		});
</script>

<!--
<form method="post">
    <input type="hidden" name="id" value="{{post.id}}">
    Title: <input type="text" name="title" placeholder="{{post.title}}" id="title_text"> <br>
    Content: <br>
    <textarea name="content" placeholder="{{post.content}}" id="content_text"></textarea>
    <br>
    <button type="submit" id="submit_button">Submit</button>
</form>
<hr>
<form action="/login/logout" method="post">
    <button type="Submit">Logout</button>
</form>
-->
<!--
<script>
    $("#submit_button").click( function() {
	$.post( "/posts/{{post.id}}", { id: {{post.id}}, title: $("#title_text").text() , content : $("#content_text").text() })
	    .done(function( data ) {
	    alert( "Data Loaded: " + data );
	});      
    });
</script>
-->
